@font-face {
  font-family: 'Pixel Operator';
  src: url('/fonts/PixelOperator-Bold.woff2') format('woff2'),
    url('/fonts/PixelOperator-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('/fonts/PixelOperator.woff2') format('woff2'),
    url('/fonts/PixelOperator.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Operator 8';
  src: url('/fonts/PixelOperator8.woff2') format('woff2'),
    url('/fonts/PixelOperator8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Pixel Operator', -apple-system, BlinkMacSystemFont, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
